In [2]:
import pandas as pd
import numpy as np
from pandasql import sqldf
df = pd.read_csv("C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\imdb_top_1000.csv")
df.drop('Genre',axis='columns',inplace=True)

df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [3]:

oldest_movie = df.sort_values(by='Released_Year', ascending=True).head(1)[['Series_Title']]
print(oldest_movie)
#print(sqldf('''SELECT Series_Title FROM df ORDER BY Released_Year asc LIMIT 1'''))

                     Series_Title
321  Das Cabinet des Dr. Caligari

In [4]:
#print(sqldf('''SELECT Series_Title FROM df ORDER BY Released_Year desc LIMIT 1'''))
latest_movie = df.sort_values(by='Released_Year', ascending=False).head(1)[['Series_Title']]
print(latest_movie)

    Series_Title
966    Apollo 13

In [5]:
# Top 10 movies by IMDB rating
#print(sqldf('''SELECT Series_Title, IMDB_Rating FROM df ORDER BY IMDB_Rating desc LIMIT 10'''))
top_rated_movies = df.sort_values(by='IMDB_Rating', ascending=False).head(10)[['Series_Title', 'IMDB_Rating']]
print(top_rated_movies)

                                     Series_Title  IMDB_Rating
0                        The Shawshank Redemption          9.3
1                                   The Godfather          9.2
4                                    12 Angry Men          9.0
2                                 The Dark Knight          9.0
3                          The Godfather: Part II          9.0
5   The Lord of the Rings: The Return of the King          8.9
7                                Schindler's List          8.9
6                                    Pulp Fiction          8.9
8                                       Inception          8.8
12                Il buono, il brutto, il cattivo          8.8

In [6]:
# Top movie each Genre

In [7]:
top_director = df['Director'].value_counts().reset_index().rename(columns={'index': 'Director', 'Director': 'Movie_Count'}).head(1)
print(top_director)

        Movie_Count  count
0  Alfred Hitchcock     14

In [8]:
#Highest Grossing movie for each Director
#print(sqldf(''''
#            SELECT 
#            FROM df
#
#            '''))

In [9]:
df = pd.read_csv("C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\imdb_top_1000.csv")

df.dropna(inplace=True)
df["Genre"] = df["Genre"].str.split(",",n = 1, expand=True)
df["Genre 1"] = new[0]
df["Genre 2"] = new[1]
df.head(2)

ValueError: Columns must be same length as key

In [ ]:

ex4 = df.drop(columns=['Poster_Link','Overview','Runtime',
                       'Genre','Star1','Star2','Star3','Meta_score',
                       'Star4','Gross','Certificate', 'No_of_Votes', 'Released_Year'])

ex4 = ex4.groupby()


print(ex4.head())

TypeError: You have to supply one of 'by' and 'level'

In [ ]:
# Trying to Separate the genre column

#df['Genre1','Genre2','Genre3'] = df['Genre'].str.extract('[A-Za-z]', expand=True)

#df3 = df.Genre.apply(pd.Series)
df = pd.read_csv("C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\imdb_top_1000.csv")
df[['Genre1', 'Genre2','Genre3']] = df['Genre'].str.split(",", expand=True)
df.drop('Genre',axis='columns',inplace=True)


pivot_table = pd.pivot_table (df,
    values=['IMDB_Rating'],
    index=['Genre1','Genre2','Genre3','Series_Title']
)



pivot_table.sort_values(by=['IMDB_Rating'],ascending=False, inplace=True)
pivot_table.head(15)

                                                                                IMDB_Rating
Genre1    Genre2    Genre3   Series_Title
Action    Crime     Drama    The Dark Knight                                            9.0
          Adventure Drama    The Lord of the Rings: The Return of the King              8.9
Biography Drama     History  Schindler's List                                           8.9
Action    Adventure Drama    The Lord of the Rings: The Fellowship of the Ring          8.8
                    Sci-Fi   Inception                                                  8.8
Biography Crime     Drama    Goodfellas                                                 8.7
Action    Adventure Fantasy  Star Wars: Episode V - The Empire Strikes Back             8.7
                    Drama    The Lord of the Rings: The Two Towers                      8.7
Adventure Drama     Sci-Fi   Interstellar                                               8.6
Crime     Drama     Mystery  Se7en                                                      8.6
Comedy    Drama     Thriller Gisaengchung                                               8.6
Crime     Drama     Fantasy  The Green Mile                                             8.6
                    Thriller The Silence of the Lambs                                   8.6
Action    Adventure Drama    Shichinin no samurai                                       8.6
          Drama     Mystery  Seppuku                                                    8.6

In [117]:
# to pargquet
df.to_parquet("C:\\Users\\jdangelo\\SkillStorm-Day1\\SkillStorm-Day3.zip")

In [ ]:
#sum of gross
total_gross = df['Gross'].sum()
print(total_gross)

NameError: name 'df' is not defined

In [ ]:
df.loc[0,"Genre"]

'Drama'

In [ ]:
df.loc[10:50]
df.loc[10:50:2]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
10,https://m.media-amazon.com/images/M/MV5BN2EyZj...,The Lord of the Rings: The Fellowship of the Ring,2001,U,178 min,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1661481,"315,544,750"
12,https://m.media-amazon.com/images/M/MV5BOTQ5ND...,"Il buono, il brutto, il cattivo",1966,A,161 min,Western,8.8,A bounty hunting scam joins two men in an unea...,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo Giuffrè,688390,"6,100,000"
14,https://m.media-amazon.com/images/M/MV5BNzQzOT...,The Matrix,1999,A,136 min,"Action, Sci-Fi",8.7,When a beautiful stranger leads computer hacke...,73.0,Lana Wachowski,Lilly Wachowski,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,1676426,"171,479,930"
16,https://m.media-amazon.com/images/M/MV5BYmU1ND...,Star Wars: Episode V - The Empire Strikes Back,1980,UA,124 min,"Action, Adventure, Fantasy",8.7,After the Rebels are brutally overpowered by t...,82.0,Irvin Kershner,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1159315,"290,475,067"
18,https://m.media-amazon.com/images/M/MV5BNjViNW...,Hamilton,2020,PG-13,160 min,"Biography, Drama, History",8.6,The real life of one of America's foremost fou...,90.0,Thomas Kail,Lin-Manuel Miranda,Phillipa Soo,Leslie Odom Jr.,Renée Elise Goldsberry,55291,NaN
20,https://m.media-amazon.com/images/M/MV5BOTc2ZT...,Soorarai Pottru,2020,U,153 min,Drama,8.6,"Nedumaaran Rajangam ""Maara"" sets out to make t...",NaN,Sudha Kongara,Suriya,Madhavan,Paresh Rawal,Aparna Balamurali,54995,NaN
22,https://m.media-amazon.com/images/M/MV5BOTMwYj...,Cidade de Deus,2002,A,130 min,"Crime, Drama",8.6,"In the slums of Rio, two kids' paths diverge a...",79.0,Fernando Meirelles,Kátia Lund,Alexandre Rodrigues,Leandro Firmino,Matheus Nachtergaele,699256,"7,563,397"
24,https://m.media-amazon.com/images/M/MV5BZjhkMD...,Saving Private Ryan,1998,R,169 min,"Drama, War",8.6,"Following the Normandy Landings, a group of U....",91.0,Steven Spielberg,Tom Hanks,Matt Damon,Tom Sizemore,Edward Burns,1235804,"216,540,909"
26,https://m.media-amazon.com/images/M/MV5BYmJmM2...,La vita è bella,1997,U,116 min,"Comedy, Drama, Romance",8.6,When an open-minded Jewish librarian and his s...,59.0,Roberto Benigni,Roberto Benigni,Nicoletta Braschi,Giorgio Cantarini,Giustino Durano,623629,"57,598,247"
28,https://m.media-amazon.com/images/M/MV5BNjNhZT...,The Silence of the Lambs,1991,A,118 min,"Crime, Drama, Thriller",8.6,A young F.B.I. cadet must receive the help of ...,85.0,Jonathan Demme,Jodie Foster,Anthony Hopkins,Lawrence A. Bonney,Kasi Lemmons,1270197,"130,742,922"
30,https://m.media-amazon.com/images/M/MV5BYjBmYT...,Seppuku,1962,NaN,133 min,"Action, Drama, Mystery",8.6,When a ronin requesting seppuku at a feudal lo...,85.0,Masaki Kobayashi,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,Tetsurô Tanba,42004,NaN
32,https://m.media-amazon.com/images/M/MV5BZjc4ND...,It's a Wonderful Life,1946,PG,130 min,"Drama, Family, Fantasy",8.6,An angel is sent from Heaven to help a despera...,89.0,Frank Capra,James Stewart,Donna Reed,Lionel Barrymore,Thomas Mitchell,405801,NaN
34,https://m.media-amazon.com/images/M/MV5BOTA5ND...,Whiplash,2014,A,106 min,"Drama, Music",8.5,A promising young drummer enrolls at a cut-thr...,88.0,Damien Chazelle,Miles Teller,J.K. Simmons,Melissa Benoist,Paul Reiser,717585,"13,092,000"
36,https://m.media-amazon.com/images/M/MV5BMjA4ND...,The Prestige,2006,U,130 min,"Drama, Mystery, Sci-Fi",8.5,"After a tragic accident, two stage magicians e...",66.0,Christopher Nolan,Christian Bale,Hugh Jackman,Scarlett Johansson,Michael Caine,1190259,"53,089,891"
38,https://m.media-amazon.com/images/M/MV5BOWRiZD...,The Pianist,2002,R,150 min,"Biography, Drama, Music",8.5,A Polish Jewish musician struggles to survive ...,85.0,Roman Polanski,Adrien Brody,Thomas Kretschmann,Frank Finlay,Emilia Fox,729603,"32,572,577"
40,https://m.media-amazon.com/images/M/MV5BZjA0MT...,American History X,1998,R,119 min,Drama,8.5,A former neo-nazi skinhead tries to prevent hi...,62.0,Tony Kaye,Edward Norton,Edward Furlong,Beverly D'Angelo,Jennifer Lien,1034705,"6,719,864"
42,https://m.media-amazon.com/images/M/MV5BODllNW...,Léon,1994,A,110 min,"Action, Crime, Drama",8.5,"Mathilda, a 12-year-old girl, is reluctantly t...",64.0,Luc Besson,Jean Reno,Gary Oldman,Natalie Portman,Danny Aiello,1035236,"19,501,238"
44,https://m.media-amazon.com/images/M/MV5BMGU2Nz...,Terminator 2: Judgment Day,1991,U,137 min,"Action, Sci-Fi",8.5,"A cyborg, identical to the one who failed to k...",75.0,James Cameron,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong,Robert Patrick,995506,"204,843,350"
46,https://m.media-amazon.com/images/M/MV5BZmY2Nj...,Hotaru no haka,1988,U,89 min,"Animation, Drama, War",8.5,A young boy and his little sister struggle to ...,94.0,Isao Takahata,Tsutomu Tatsumi,Ayano Shiraishi,Akemi Yamaguchi,Yoshiko Shinohara,235231,NaN
48,https://m.media-amazon.com/images/M/MV5BZGI5Mj...,Once Upon a Time in the West,1968,U,165 min,Western,8.5,A mysterious stranger with a harmonica joins f...,80.0,Sergio Leone,Henry Fonda,Charles Bronson,Claudia Cardinale,Jason Robards,302844,"5,321,508"
50,https://m.media-amazon.com/images/M/MV5BY2IzZG...,Casablanca,1942,U,102 min,"Drama, Romance, War",8.5,A cynical expatriate American cafe owner strug...,100.0,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains,522093,"1,024,560"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [ ]:
new_df = pd.read_csv('C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\pokemon.csv')
new_df.

SyntaxError: invalid syntax (2156165860.py, line 2)

In [ ]:
df = pd.read_csv("C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\imdb_top_1000.csv")

pivot_table = pd.pivot_table 
(
    values=[''],
    index=['g']
)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (173581267.py, line 5)

In [ ]:
df["Released_Year"].value_counts()

Released_Year
2014    32
2004    31
2009    29
2013    28
2016    28
        ..
1920     1
1930     1
1922     1
1943     1
PG       1
Name: count, Length: 100, dtype: int64

In [ ]:
df = pd.read_csv("C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\imdb_top_1000.csv")

df.drop(['Poster_Link','Certificate','Genre','Runtime','Released_Year','Overview','Meta_score','Star1','Star2','Star3','Star4','Gross', 'No_of_Votes'], axis='columns',inplace=True)

#df.Director.nunique()
test = df.loc[df.groupby('Director')["IMDB_Rating"].idxmax()].reset_index()
test

#for director,  in test:

     index                Series_Title  IMDB_Rating             Director
0       65            Taare Zameen Par          8.4           Aamir Khan
1      612  The Trial of the Chicago 7          7.8         Aaron Sorkin
2      734              La vie d'Adèle          7.7  Abdellatif Kechiche
3      577                 Udta Punjab          7.8     Abhishek Chaubey
4      735                 Kai po che!          7.7      Abhishek Kapoor
..     ...                         ...          ...                  ...
543    928                         300          7.6          Zack Snyder
544    138                 Mandariinid          8.2       Zaza Urushadze
545    221    Zindagi Na Milegi Dobara          8.1          Zoya Akhtar
546     92              Babam ve Oglum          8.3          Çagan Irmak
547    366                    G.O.R.A.          8.0     Ömer Faruk Sorak

[548 rows x 4 columns]

In [141]:
df = pd.read_csv("C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\imdb_top_1000.csv")

df.drop(['Director','IMDB_Rating', 'Poster_Link','Certificate','Genre','Runtime','Released_Year','Overview','Meta_score','Gross', 'No_of_Votes'], axis='columns',inplace=True)
test = df.groupby(['Star1']).size()
test2 = df.groupby(['Star2']).size()
test3 = df.groupby(['Star3']).size()
test4 = df.groupby(['Star4']).size()
test5 = pd.concat([test,test2,test3,test4])
#test5.groupby(['index']).size()


#test5.sort_values('')

In [97]:
df = pd.read_csv("C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\imdb_top_1000.csv")
df.drop(['Director', 'Poster_Link','Certificate','Runtime','Released_Year','Star1','Star2','Star3','Star4','Overview','Meta_score','Gross', 'No_of_Votes'], axis='columns',inplace=True)
df[['Genre1', 'Genre2','Genre3']] = df['Genre'].str.split(",", expand=True)



df

,Series_Title,Genre,IMDB_Rating,Genre1,Genre2,Genre3
0,The Shawshank Redemption,Drama,9.3,Drama,None,None
1,The Godfather,"Crime, Drama",9.2,Crime,Drama,None
2,The Dark Knight,"Action, Crime, Drama",9.0,Action,Crime,Drama
3,The Godfather: Part II,"Crime, Drama",9.0,Crime,Drama,None
4,12 Angry Men,"Crime, Drama",9.0,Crime,Drama,None
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,"Comedy, Drama, Romance",7.6,Comedy,Drama,Romance
996,Giant,"Drama, Western",7.6,Drama,Western,None
997,From Here to Eternity,"Drama, Romance, War",7.6,Drama,Romance,War
998,Lifeboat,"Drama, War",7.6,Drama,War,None
999,The 39 Steps,"Crime, Mystery, Thriller",7.6,Crime,Mystery,Thriller

In [32]:
df = pd.read_csv("C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\imdb_top_1000.csv")
df.drop(['Director', 'Poster_Link','Certificate','Runtime','Released_Year','Star1','Star2','Star3','Star4','Overview','Meta_score','Gross', 'No_of_Votes'], axis='columns',inplace=True)
df[['Genre1', 'Genre2','Genre3']] = df['Genre'].str.split(",", expand=True)
df.drop('Genre',axis='columns',inplace=True)
test = pd.get_dummies(df,columns=['Genre1'])
test.head()

,Series_Title,IMDB_Rating,Genre2,Genre3,Genre1_Action,Genre1_Adventure,Genre1_Animation,Genre1_Biography,Genre1_Comedy,Genre1_Crime,Genre1_Drama,Genre1_Family,Genre1_Fantasy,Genre1_Film-Noir,Genre1_Horror,Genre1_Mystery,Genre1_Thriller,Genre1_Western
0,The Shawshank Redemption,9.3,None,None,False,False,False,False,False,False,True,False,False,False,False,False,False,False
1,The Godfather,9.2,Drama,None,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,The Dark Knight,9.0,Crime,Drama,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,The Godfather: Part II,9.0,Drama,None,False,False,False,False,False,True,False,False,False,False,False,False,False,False
4,12 Angry Men,9.0,Drama,None,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [135]:
df = pd.read_csv("C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\imdb_top_1000.csv")
df.drop(['Director', 'Poster_Link','Certificate','Runtime','Released_Year','Star1','Star2','Star3','Star4','Overview','Meta_score','Gross', 'No_of_Votes'], axis='columns',inplace=True)
Genres = ['Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Drama',
          'Family', 'Fantasy', 'Film-Noir','Horror']
df["Genre"] = df['Genre'].apply(lambda x: x.split(','))
df = df.join(pd.get_dummies(df["Genre"].explode()).groupby(level=0).sum())
df.drop("Genre",axis='columns', inplace=True)
#df.sort_values('IMDB_Rating', ascending=False)
for x in Genres:
    HighestRatedGenre = df[df[x] == 1 ].sort_values(by="IMDB_Rating", ascending=False )[['Series_Title','IMDB_Rating']].head(1)
    print(x)
    print(HighestRatedGenre)

Action
      Series_Title  IMDB_Rating
2  The Dark Knight          9.0
Adventure
    Series_Title  IMDB_Rating
21  Interstellar          8.6
Animation
                     Series_Title  IMDB_Rating
23  Sen to Chihiro no kamikakushi          8.6
Biography
       Series_Title  IMDB_Rating
7  Schindler's List          8.9
Comedy
    Series_Title  IMDB_Rating
19  Gisaengchung          8.6
Crime
    Series_Title  IMDB_Rating
1  The Godfather          9.2
Drama
               Series_Title  IMDB_Rating
0  The Shawshank Redemption          9.3
Family
                   Series_Title  IMDB_Rating
688  E.T. the Extra-Terrestrial          7.8
Fantasy
                     Series_Title  IMDB_Rating
321  Das Cabinet des Dr. Caligari          8.1
Film-Noir
      Series_Title  IMDB_Rating
309  The Third Man          8.1
Horror
   Series_Title  IMDB_Rating
49       Psycho          8.5

In [143]:
import pandas as pd


df = pd.read_csv("C:\\Users\\jdangelo\\SkillStormPandas\\20240617-DE-TS-LectureMaterials\\Python\\Data\\imdb_top_1000.csv")
df.drop(['Director', 'Poster_Link', 'Certificate', 'Runtime', 'Released_Year', 
         'Star1', 'Star2', 'Star3', 'Star4', 'Overview', 'Meta_score', 
         'Gross', 'No_of_Votes'], axis='columns', inplace=True)
df['Genre'] = df['Genre'].apply(lambda x: x.split(','))
genres = df['Genre'].explode()
one_hot_encoded_genres = pd.get_dummies(genres).groupby(level=0).sum()
one_hot_encoded_genres = one_hot_encoded_genres.groupby(one_hot_encoded_genres.columns, axis=1).sum()
df = df.join(one_hot_encoded_genres)
df.drop('Genre', axis=1, inplace=True)
df['IMDB_Rating'] = pd.to_numeric(df['IMDB_Rating'], errors='coerce')
result = df[df['Action'] == 1].sort_values(by='IMDB_Rating', ascending=False)[['IMDB_Rating', 'Series_Title']].head(1)

print(result)

   IMDB_Rating     Series_Title
2          9.0  The Dark Knight

C:\Users\jdangelo\AppData\Local\Temp\ipykernel_15872\4024445915.py:19: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  one_hot_encoded_genres = one_hot_encoded_genres.groupby(one_hot_encoded_genres.columns, axis=1).sum()

In [144]:

testing = df.[['']]copy()

for genre, movies in testing.groupby('Genre'):
    print (genre)

KeyError: 'Genre'